@import 'mixin';

.header{
	background-color: #FBF6F0;
	&__content{
		max-width: 120rem;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include responsive('tablet'){
			max-width: 100%;
			padding: 0 2rem;
		}
	}

	&__logo{
		width: 6rem;
		height: 6rem;

		@include responsive('mobile'){
			width: 5rem;
			height: 5rem;
		}

		.logo__img{
			width: 100%;
			height: auto;
		}
	}

	&__menu{
		list-style-type: none;
		display: flex;
		gap: 2rem;
		align-items: center;
		margin: 0;
		@include responsive('tablet'){
			display: none;
		}
		.menu__item{
			a{
				text-decoration: none;
				color: #724903;
				transition: all .3s ease-in-out;

				&:hover{
					color: #CFA97C;
				}

				&.active{
					color: #CFA97C;
				}
			}
		}
	}

	.mini__cart{
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	.social__menu{
		margin: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		@include responsive('tablet'){
			display: none;
		}
		&--item{
			a{
				text-decoration: none;
				padding: .5rem;
				color: #2b2b2b;
			}
		}
	}

	.register{
		@include responsive('tablet'){
			display: none;
		}
	}

	.responsiveMenuBar{
		display: none;

		@include responsive('tablet'){
			display: inherit;
		}
	}
}

.responsive-mobile-menu{
	list-style-type: none;
	margin: 0;

	.menu__item{
		padding: .4rem 0;

		a{
			text-decoration: none;
			color: #724903;
			transition: all .3s ease-in-out;

			&:hover{
				color: #CFA97C;
			}
		}
	}
}